body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: white;
}



#header
{
	margin: 0;
	padding: 0;
	height:44px;
	display:block;
}

#content
{
	padding:0px;
}

#footer
{
	padding: 0px;
	margin: 0px;
	font-size: 0.8em;
	text-align: center;
}



div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}





.search {
	width:100%;
	border:1px solid #999;
	overflow:auto;
	clear:both;
}
.dic_results {
	overflow:auto;
	width:100%;
	height:180px;
	display:none;
	text-align:left;
	border-top:1px solid #999;
}



span, h1, h2 {
	margin:0px;
	padding:0px;
}
h1, h2 {
	margin:2px;
}
h2 {
	font-size:1.1em;
}

.break, .breaker { overflow:hidden; height:1px; clear:both; }

.cleared {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size:1px;
}
.left { float:left; }
.right { float:right; }

a, a:link, a:visited {
	text-decoration:none;
	color:#59B;
}
.menu, a.menutop, #footer a {
	color:black;
}
#footer a {
	margin-right:6px;
}

.line { float:left; margin-top:8px; }
.line_word { float:left; margin-right:5px; }
.line_text { float:left; margin:0px; }


#radicals {
	width:100%;
	border:1px solid #999;
	padding:0px;
}
#radicals .square, #radicals .word {
	width:20px;
	height:20px;
	float:left;
	text-align:center;
	vertical-align:middle;
	line-height:20px;
	margin:2px;
	padding:1px;
}
#radicals .word {
	width:auto;
}
.c {
	cursor:pointer;
}
.c:hover {
	background-color:#CCC;
}
#radicals .stroke {
	background-color:#555;
	color:#FFFFFF
}
#radicals .leftstrokes {
	width:auto;
	float:left;
	height:auto;
	margin-left:3px;
	line-height:15px;
}

#radicals .matches, #radicals .char_matches, #radicals .word_matches {
	height:250px;
	float:left;
	font-size:1em;
	overflow:auto;
	padding:3px;
	margin:3px;
	border:1px solid #999;
	background-color:#DDD;
	text-align:left;
}
#radicals .char_matches {
	width:98%;
}
#radicals .word_matches {
	width:98%;
	height:110px;
}
#radicals .matches {
	width:98%;
	height:250px;
	margin-top:2px;
	margin-bottom:2px;
}
.selected {
	background-color:#D55;
}

ul, li {
	margin-top:4px;
}
.char {
	float:left;
	width:60px;
	height:60px;
	margin:2px 5px 10px 5px;
	font-size:4em;
}
.char_info {
	float:left;
	width:100%;
	height:60px;
	margin:5px 5px 10px 5px;
}


/* QUIZ */
#question {
	font-size:3em;
	width:100%;
	height:100px;
	text-align:center;
}
#answer {
	padding-left:100px;
	width:85%;
	height:150px;
	text-align:center;
}
#answer_left, #answer_right {
	width:150px;
	float:left;
	text-align:left;
}
#answer_right {
	width:300px;
}
#info {
	font-size:1em;
	border:1px solid #999;
	width:100%;
	height:30px;
	text-align:center;
	vertical-align:middle;
	line-height:30px;
}


.load {
	background-color:#000;
	width:16px;
	height:16px;
	float:left;
	border:1px solid #999;
}

